flows.json
[
    {
        "id": "c321c3bc6c934b11",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66510e5ad24ace14",
        "type": "http in",
        "z": "c321c3bc6c934b11",
        "name": "",
        "url": "/mysite",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "a62a44c66656c21f"
            ]
        ]
    },
    {
        "id": "a62a44c66656c21f",
        "type": "function",
        "z": "c321c3bc6c934b11",
        "name": "msg.url = \"mysitepost\";",
        "func": "msg.url = \"mysitepost\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "271348d4d374b182"
            ]
        ]
    },
    {
        "id": "3c44105e8cf08e10",
        "type": "template",
        "z": "c321c3bc6c934b11",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>My first Web-App</title>\n   <link rel=\"stylesheet\" href=\"main.css\">\n</head>\n<body class=\"light-theme\">\n    <h1>Task List</h1>\n    <p id=\"msg\">Current tasks for skaffold:</p>\n    <ul>\n      <li class=\"list\">Build Docker image</li>\n      <li class=\"list\">Create Kuberenetes Deployment files</li>\n      <li>Create Skaffold Cofnig File</li>\n    </ul>\n    <div>\n        <button class=\"btn\">Dark</button>\n    </div>\n    <script src=\"app.js\"></script>\n    <noscript>You need to enable JavaScript to view the full site.</noscript>\n</body>\n</html>",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "d5d47a144e6a8987"
            ]
        ]
    },
    {
        "id": "271348d4d374b182",
        "type": "template",
        "z": "c321c3bc6c934b11",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "'use strict'\n\nconst switcher = document.querySelector('.btn');\n\nswitcher.addEventListener('click', function() {\n    document.body.classList.toggle('dark-theme')\n\n    var className = document.body.className;\n    if(className == \"light-theme\") {\n        this.textContent = \"Dark\";\n    }\n    else {\n        this.textContent = \"Light\";\n    }\n\n});",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "6cbced4c1b9c88cc"
            ]
        ]
    },
    {
        "id": "6cbced4c1b9c88cc",
        "type": "template",
        "z": "c321c3bc6c934b11",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": ":root \n    {\n        --seagreen: #45d3bb;\n        --white: #ffffff;\n        --pink: #941578;\n    }\n  * {\n    color: var(--fontColor);\n    font-family: helvetica;\n  }\n  body {\n      background: var(--bg);\n  }\n\n  .light-theme {\n    --bg: var(--seagreen);\n    --fontColor: var(--pink);\n    --btnBg: var(--pink);\n    --btnFontColor: var(--white);\n  }\n  .dark-theme {\n    --bg: var(--pink);\n    --fontColor: var(--seagreen);\n    --btnBg: var(--white);\n    --btnFontColor: var(--pink);\n  }\n\n  .btn {\n    position: absolute;\n    top: 20px;\n    left: 250px;\n    height: 50px;\n    width: 50px;\n    border-radius: 50%;\n    border: none;\n    color: var(--btnFontColor);\n    background-color: var(--btnBg);\n  }\n",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "3c44105e8cf08e10"
            ]
        ]
    },
    {
        "id": "d5d47a144e6a8987",
        "type": "http response",
        "z": "c321c3bc6c934b11",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 220,
        "wires": []
    }
]